@import "tailwindcss";

/* Your custom styles */
:root {
  --bg: #070a12;
  --text: rgba(255, 255, 255, 0.94);
  --accent: #ff4d2e;
}

html,
body {
  height: 100%;
}

body {
  background: var(--bg);
  color: var(--text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}
